.root {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s;
  padding: 8px 16px;
  margin: 8px 8px 8px 0;
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}
.root:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
