.passwordList {
  padding: 8px;
}

.passwordValueContainer {
  padding: 8px 8px 8px 0;
  display: flex;
}

.passwordValue {
  margin-right: 8px;
  background-color: rgb(218, 218, 218);
  padding: 8px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  align-items: center;
}

.passwordCopyButtonContainer {
  width: 20%;
  flex: 1;
}
