label {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 10px 0 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
}

input:focus {
  color: red;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  outline: none;
}

fieldset {
  border: none;
}

fieldset:focus {
  border: 1px solid green;
}
