:root {
  --primary-color: #6200ee;
  --primary-variant-color: #3700b3;
  --secondary-color: #03dac6;
  --secondary-variant-color: #018786;
  --background-color: #f5f5f5;
  --surface-color: #ffffff;
  --error-color: #b00020;
  --on-primary-color: #ffffff;
  --on-secondary-color: #ffffff;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-error-color: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
}
