:root {
  --primary-color: #6200ee;
  --primary-variant-color: #3700b3;
  --secondary-color: #ff7b00;
  --secondary-variant-color: #da6a01;
  --background-color: #eeeded;
  --surface-color: #ffffff;
  --error-color: #b00020;
  --on-primary-color: #ffffff;
  --on-secondary-color: #ffffff;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-error-color: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
}
