.container {
  background-color: var(--surface-color);
  width: 80vw;
  max-width: 300px;
  border-right: 0.1px solid rgb(212, 211, 211);
  transition: 0.3s;
  height: 100vh;
}
.containerClosed {
  margin-left: -300px;
}

.menuLogo {
  height: 250px;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuLogo > img {
  width: 50%;
  margin-right: 15px;
}

.drawerGroup {
  list-style: none;
}

.drawerItem {
}

.modal {
  display: none;
}
@media (max-width: 767.98px) {
  .container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .modal {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
}
