.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s;
  margin-top: 8px;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
